{% extends 'base.html.twig' %}

{% block body %}
    <section class="ui basic segment">
        {% form_theme form 'form_table_layout.html.twig' %}
        {{ form(form) }}
        <section id="loader" class="ui basic segment">
            <div class="ui active loader"></div>
        </section>
        <section id="uploaded" class="ui basic segment">
            <img src="/img/default.jpg" alt="" class="ui big image">
        </section>
    </section>
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    <script>
        $('#loader').hide(0);
        $('#uploaded img').hide(0);

        $('button').click(function(e) {
            e.preventDefault();
            $('#loader').show();
            var data;

            data = new FormData();
            data.append('image_upload[name]', $('#image_upload_name').val());
            data.append('image_upload[alt]', $('#image_upload_alt').val());
            data.append('image_upload[image]', $('#image_upload_image').prop('files')[0] );
            data.append('image_upload[_token]', $('#image_upload_token').val());

            $.ajax({
                method: "POST",
                url: "http://hoster.lan/ajax-upload",
                data: data,
                processData: false,
                contentType: false,
                success: function(text) {
                    $('#loader').hide(0);
                    $('#uploaded img').show();
                    $('#uploaded img').attr('src', text['url'])
                }
            });
        })
    </script>
{% endblock %}
